

.gh_modal {
    position: fixed;
    height: 400px;
    background: #fafafc;
    border: 1px solid #dedede;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    width: 800px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    z-index: 9999;
}

.gh_title {
  color: #384046;
  font-weight: 500;
  font-size: 28px;
  margin-top: 12px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'roboto-condensed';
  letter-spacing: -0.5px;
  text-shadow: 0 1px #fff;
  -webkit-transform: scale(0.85,1);
}
.gh_input_wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.gh_input {
    font-size: 20px;
    padding: 8px;
    width: 60%;
}

.gh_input_wrapper label{
    width: 6em;
    display: block;
    float: left;
    font-size: 14px;
    color: #666;
}

.gh_input_wrapper textarea {
    width: 80%;
    height: 100px;
}

.gh_input_wrapper button.submit {
    width: 20%;
    margin-top: 30px;
    height: 30px;
    background-color: #337ab7
}

.gh_input_wrapper button.cancel {
    width: 20%;
    margin-top: 30px;
    height: 30px;
}

.gh_input_wrapper a {
    text-decoration: none;
    font-size: small;
    color: #07c;
    cursor: pointer;
}
.gh_input_wrapper a:hover {
    text-decoration: underline;
}

.gh_input_wrapper span {
    margin-right: 20px;
    font-size: 14px;
    color: #337ab7;
}

.gh_button {
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);

    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.gh_button:hover {
    color: #555;
}

.gh_button:active,.gh_button:active:after,.gh_button:active:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gh_check_link {
    text-align: right;
    margin-top: 20px;
}